
.sub-head{
    color: #1781a5;
    font-size: 1.875rem;
    font-weight: 100;
}
.banner-slider-item {
    position: relative;
}

.bs-select-card {
    position: absolute;
    right: 30px;
    z-index: 99;
    bottom: -10px;
    background: white;
    padding: 10px 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px grey;
}
fieldset.selection-option {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    margin-bottom: 7px;}
.icon-with-caption img{
    width: 30px !important;
    margin-right: 5px;
}
.photogifts-card {
    box-shadow: 0px 1px 10px -3px grey;
}
.inspiration-card{
    background: url(assets/img/weihnachten.png) center no-repeat;
    background-size: cover;
}
.banner {
    padding: 50px 0;
}
.bs-select-card .submit-button .button{
width: 100%;
background: #126784;
color: white;
border-radius: 10px;
padding: 12px;
text-align: center;
border: none;
}
.product-estimated-delivery-date {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.icon-with-caption.horizontal.text-left{
    display: flex;
    align-items: center;
}
.icon-with-caption.horizontal.text-left span{
    color: #748d0d;
    font-weight: bold;
    vertical-align: middle;
    font-size: 12px;
}
.icon-with-caption.horizontal.text-left span span{
    color: grey;
}
fieldset.selection-option label{
    margin: 0;
}
span.feature-groups-heading-title.pap-fake-h1 {
    text-align: center;
    width: 100%;
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
}
span.reduced {
    color: #b50000;
}
span.reduced .regular-price{
    color: initial;
}
.owl-dots {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: grey;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 0 !important;
    padding: 2px 10px;
}
.owl-dots button{
    outline: none;
}

.overview{
    padding: 50px 0;
}
.product-card {
    margin: 20px 0;
    text-align: center;
}
.overview img{
    width: 100%;
}
.product-card h3{
    font-size: 1.25rem;
    margin-top: 10px;
    color: #5f5f5f;
}
.product-card h3 span{
    color: grey;
    margin-top: 5px;
    display: block;
}
.inspiration-card {
    background: url(assets/img/weihnachten.png) center no-repeat;
    background-size: cover;
    padding: 60px 0 20px;
}
.inspiration-card h3{
    color: grey;
    background: white;
    font-size: 20px;
    display: inline-block;
    padding: 10px;
}
.btn-blue{
    background-color: #1781a5;
    color: #fff;
}

.dropdown-menu{
    width: 100% !important;
}
.selection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selection-item p {
    margin: 0;
    color: black;
}
.selection-dropdown .dropdown-menu.show{
    width: 100%;
}
.puzzle-wrapper {
    position: relative;
    height: 550px;
    cursor: pointer;
    z-index: 10;
}
/* .puzzle-wrapper::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: .3s ease;
}
.puzzle-wrapper:hover::after{
    content: "";
    background: rgba(122, 164, 255, 0.37);
} */

.puzzle-wrapper img{
    width: 100%;
}
.image-main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-main img{
    height: 100%;
}
.puzzle-shape{z-index: 100;    position: relative;}
.puzzle-shape img{
    width: 100%;
    object-fit: contain;
}
.p-right input[type=file]::-webkit-file-upload-button {
    background: #1781a5;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
  }
 
canvas {
    width: 100% !important;
    height: 200px !important;
}
.p-right .card {
    padding: 15px !important;
    box-shadow: 0 2px 5px 0px grey;
    border: none;
    margin-bottom: 15px;
}
.price-display.reduced span.regular-price {
    text-decoration: line-through;
    margin-right: 7px;
}
.checkout {
    text-align: right;
}
.checkout-btn{
    background: #AED227;
    color: white;
    font-size: 20px;
    margin-left: auto;
    padding: 10px 20px;
}
#puzzle-select-btn{
position: relative;
}
#puzzle-select-btn::after{
    content:"^";
    position: absolute;
    right: 0;
    top:50%;
    width: 10px;
    height: 10px;
    font-weight: bold;
    transform: rotate(180deg);
}